mixin settings_form(item, branch)
  form(role="form", action="/suites/#{item.id}/edit", method="POST").form-horizontal
    .form-group
      label(for="branch").col-lg-4.control-label branch
      .col-lg-8
        select(id="branch", name="branch").form-control
          - each option_value in branch.branches
            - var selected = option_value == branch.current_branch
            option(value="#{option_value}", selected=selected) #{option_value}
    - each value, key in item.network_offset
      .form-group
        label(for="network_offset#{key}").col-lg-4.control-label #{key} offset
        .col-lg-8
          select(id="network_offset#{key}", name="network_offset[#{key}]").form-control
            - each option_value in [0, 50, 100, 200, 500]
              - var selected = option_value == value
              option(value="#{option_value}", selected=selected) #{option_value} ms
    .form-group
      label(for="compression").col-lg-4.control-label Compression
      .col-lg-8
        select(id="compression", name="compression").form-control
          option(value="enabled", selected=item.compression == 'enabled') Enabled
          option(value="disabled", selected=item.compression == 'disabled') Disabled
    .form-group
      label(for="expire_headers").col-lg-4.control-label Expire Headers
      .col-lg-8
        select(id="expire_headers", name="expire_headers").form-control
          option(value="one_year", selected=item.expire_headers == 'one_year') One Year
          option(value="one_month", selected=item.expire_headers == 'one_month') One Month
          option(value="one_day", selected=item.expire_headers == 'one_day') One Day
          option(value="one_minute", selected=item.expire_headers == 'one_minute') One Minute
          option(value="none", selected=item.expire_headers == 'none') None
    .form-group
      .col-lg-offset-4.col-lg-8
        button(type="submit").btn.btn-primary.btn-block Change Settings
    .form-group
      .col-lg-offset-4.col-lg-8
        a(href="/suites/#{item.id}/remove_branch_data").btn.btn-default.btn-block Remove Branch Data